<mat-card>
  <mat-card-content>
    <a routerLink = "" >Todos</a>-
    <a routerLink = "/login" >Login</a>-
    <a routerLink = "/userstodo" >Users Todo</a>-
    <button (click) = "toRegister()">
      Register
    </button> 
    -  
    <button (click) = "toCodes()">
      Codes
    </button>

    <button (click)="logout()" *ngIf="authService.user | async">
      Logout
    </button> 
    <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.displayName }}!</h1>     
</mat-card-content>
</mat-card>  

