
<mat-form-field class="example-full-width">
  <input matInput placeholder="Add todo item" value="" [(ngModel)] = "text" >
</mat-form-field>
<button  mat-raised-button  (click)="addTodo()" [disabled]="!text">
  Add todo
</button>

<ul>
  <todo *ngFor = "let todo of todos;" 
        (sendToParent) = "catch($event)"
        [data] = todo >
  </todo>
</ul>
<div>
  {{text}}
</div>
  
