<div class = 'user'>
<input  [(ngModel)]="user" type = "text"> <button (click) = "changeuser()" >Change user</button>
</div>
<ul>
  <todo *ngFor = "let todo of todos;" 
        (sendToParent) = "catch($event)"
        [data] = todo >
  </todo>
</ul>
<div>
  {{text}}
</div>
<div>
  {{user}}
</div>
