<li  (mouseenter) = "show()" (mouseleave) = "hide()" >
	<span (click) = "showEdit()" *ngIf = "!showEditField">{{text}}</span>
	
	<mat-form-field *ngIf = "showEditField" >
		<input matInput [(ngModel)] = "text" >
	</mat-form-field>	 
	<button 
		mat-raised-button 
		color="primary" 
		*ngIf = "showEditField" 
		(click) = "save()">
			Save
	</button> 
	<button 
		mat-raised-button 
		color="primary" 
		*ngIf = "showEditField" 
		(click) = "cancel()">
			Cancel
	</button>	
	<button 
		mat-raised-button 
		color="primary" 
		*ngIf = "showButton" 
		(click) = "delete()">
		Delete
	</button> 	
</li>
