<mat-card class="example-card">
  <mat-card-header>
    <h2>Register</h2>
  </mat-card-header>
  <mat-card-content>
    <p>
      Register and start enjoying our special Todo app!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <form class="example-form">
      <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First name" name = 'name' value="" [(ngModel)]="name">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" value="" name = 'email' [(ngModel)]="email">
          <mat-error >Invalid email</mat-error> 
      </mat-form-field>
      <p *ngIf = "error.code=='auth/invalid-email'||error.code=='auth/email-already-in-use'" class = "erorr">{{error.message}}</p>
      </div>
      <div>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" value=""  name = 'password' [(ngModel)]="password">
      </mat-form-field>
      </div>
      <p *ngIf = "error.code=='auth/weak-password'" class = "erorr">{{error.message}}</p> 
 
      <div>
       <button  mat-raised-button  (click)="signup()" [disabled]="!email || !password">
          Signup
      </button>
      </div>             
    </form>  
  </mat-card-actions>
</mat-card>

